<!DOCTYPE html>
<html lang="ja">
<%- include('include/_head' , {dir: './',pagetitle: '' }) %>
<body>
<div id="container" lang="ja">
  <%- include('include/_header' , {dir: './'}) %>
    <div class="test">
      テスト
    </div>
  <%- include('include/_footer' , {dir: './', }) %>
</div>
</body>
</html>
